<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <header>
        <nav>
            <!--<a href="">Install</a>-->
            <!--<a href="">Documentation</a>-->
            <a href="/get/cilex.phar">Download</a>
            <!--<a href="">Providers</a>-->
        </nav>
        <h1><img src="/images/logo.png" />Cilex</h1>
        <h2>PHP micro-framework<br />for command-line applications</h2>
    </header>

    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>